


* , ::before, ::after {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body{
    scroll-behavior: smooth;
}
@font-face {
    font-family: `AnyConv.com__Roboto-BlackItalic.woff2`;
    src: url("../fonts/AnyConv.com__Roboto-BlackItalic.woff2");
}
@font-face {
    font-family: `AnyConv.com__Righteous-Regular.woff2`;
    src: url("../fonts/AnyConv.com__Righteous-Regular.woff2");
}
@font-face {
    font-family: `AnyConv.com__Roboto-Medium.woff2`;
    src: url("../fonts/AnyConv.com__Roboto-Medium.woff2");
}



/*menu*/

.body{
    background: none;
    
}
.headerindex{
    font-family: "AnyConv.com__Roboto-BlackItalic.woff2", sans-serif;
    font-weight: 400;
}
.header {
    background: #161616;
    padding: 5px 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header-list{
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 20px;
    
}
.header-list li{
    font-size: 24px;
    position: relative;
    padding: 5px;
    text-align: center;
}

.header-list li a{
    text-decoration: none;
    color: aliceblue;

}
.header-list li:hover .second-menu{
    display: block;
}
.blocks{
    position: relative;
}
.second-menu li:hover .last-menu{
    display: block;
}

.last-menu{
    position: absolute;
    right: 100%;
    top: 0;
    display: none;
    font-family: "AnyConv.com__Righteous-Regular.woff2", sans-serif;
    font-weight: 400;
}

.homeworks{
    position: relative;
}
.homeworks li{
    position: absolute;
    left: 0;
    top: 0;
}
.second-menu{
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    font-family: "AnyConv.com__Roboto-Medium.woff2", sans-serif;
    font-weight: 500;


}
.second-menu li{
    background: #949191;
}
.last-menu li{
    width: 120px;
}





/*float*/


.floatbody{
    
    margin: 0 auto;
    background: none;
}

.boxesfloat{
    width: 1200px;
    margin: 50px;
    outline: 1px solid red;
    background: pink;
}

.childcontainer-float{
    width: 400px;
    height: 400px;
}
.container2{
    width: 800px;
}
.childcontainer2-float{
    height: 200px;
}
.container3{
    float: left;
    width: 400px;
}

.childcontainer3-float{
    width: 400px;
    height: 133px;
}

.container4{
    width: 400px;
    height: 400px;
    outline: 1px solid red;
}

.subchild-float{
    width: 400px;
    height: 200px;
    outline: 1px solid red;
}
.childcont-float4{
    width: 800px;
    height: 200px;
    outline: 1px solid red;
}

.subchild1{
    height: 100px;
    outline: 1px solid red;
}

.container1 > div, .container2 > div, .container3 > div, .childcont-float4 > div{
    outline: 1px solid red;
}
.childcontainer-float, .container2, .childcont-float4, .subchild-float, .container4, .childcontainer3-float {
    float: left;
}
.clearfix{
    clear: both;
}
.clearfix::after{
    clear: both;
    content: '';
    display: block;
}

/*inline-block*/

.inlinebody{
    background: rgb(165, 206, 19);
}


.peugeot307,.jeep,.kiario{
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
    margin: 25px;
    padding: 10px 20px 10px 20px;
    text-align: justify;
    color: rgb(29, 22, 22);
    background: rgb(216, 213, 27);

}

.peugeot307 {
    height: 170px;
}


h1,h2{
    text-align: center;
}
.inlinebody h1{
    color: red;
    font-family: Arial Narrow Bold, sans-serif;
    font-size: 60px;
    padding: 20px;
}

.auto h2{
    font-family: 'Oswald', sans-serif;
    color: rgb(51, 12, 223);
    font-size: 45px;
}
.auto img{
    border: 3px solid rgb(6, 126, 112);
    border-radius: 15px;
    margin: 25px;
    float: left;
}
.auto a {
    color: rgb(218, 79, 14);
    font-size: 25px;
    margin: 25px;
}
nav ul {
    margin: 0 auto;
} 

div > nav{
    font: 20px Calibri, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
    
}
#menuhoriz li{
    display:inline-block;
    border-radius: 0px 15px 0px 15px;
    border: 5px solid gray;
    
}
#menuhoriz a{
    color: rgb(4, 168, 92);
    font-size: 45px;
}

/*flex*/
.flexbody{
    background: none;
    margin: 0 auto;
}
.boxes{
    max-width: 1200px;
    margin: 50px;
    outline: 1px solid red;
}
.containerflex{
    display: flex;
    background: rgb(8, 219, 219);
}

.childcontainer-float{
    width: 400px;
    height: 400px;
}
.containerflex2{
    width: 800px;
    background: greenyellow;
}
.childcontainer2-float{
    height: 200px;
}
.containerflex3{
    width: 400px;
    background: greenyellow;
}

.childcontainer3{
    width: 400px;
    height: 133px;
}

.flex{
    display: flex;
}

.containerflex > div, .containerflex2 > div, .containerflex3 > div, .containerflex4 > div{
    outline: 1px solid red;
}

.clearfix::after{
    clear: both;
    content: '';
    display: block;
}
.containerflex4{
    display: flex;
    background: orange;
}
.subcontflex{
    width: 400px;
    height: 400px;
    outline: 1px solid red;
}
.sub2 > div{
    width: 800px;
    height: 200px;
    outline: 1px solid red;
}
.box3{
    display: flex;
}
.box4{
    width: 400px;
    outline: 1px solid red;
}
.box5{
    height: 100px;
    outline: 1px solid red;
}

/*gallery*/

body{
    background: rgb(12, 202, 193);
    
}

.container h1{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 20px;
}

.photo {
    position: relative;
    max-width: 600px;
    margin: 0 auto 40px;
}
.photo img{
    border-radius: 25px;
}
.text h2{
    font-size: 25px;
    text-align: center;
}
.text{
    position: absolute;
    top: 50%;
    overflow: hidden;
    height: 200px;
    background: rgba(255, 255, 255, 0.7);
    display: none;
    border-radius: 25px;
    padding: 20px;
    margin: -100px 0 0;
}
.photo:hover .text{
    display: block;
}
.navigation{
    width: 300px;
    position: relative;

}
.sitenav{
    width: 300px;
    position: fixed;
    left: 0;
    top: 50%;
    margin-top: -130px;
    border: 5px solid green;
    background: greenyellow;
    
}
.sitenav h2{
    font-size: 24px;
    text-align: center;
    margin: 20px;
}
.sitenav-list li{
    font-size: 20px;
    text-align: center;
    
}
.sitenav-list li a{
    display: block;
    padding: 5px 0;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
    margin-bottom: 10px;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;

}
.sitenav-list li:last-child a{
    border-bottom: 0;
    margin: 0;
}